/* Шрифты */
/* https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap%22%20rel=%22stylesheet */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans'), local('OpenSans'), 
    url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 200;
    src: local('Open Sans Light'), local('OpenSans-Light'), 
    url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy Extra Bold';
    font-style: normal;
    font-weight: 800;
    src: local('Gilroy Extra Bold'), local('Gilroy-Extra-Bold'), 
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy Light';
    font-style: normal;
    font-weight: 200;
    src: local('Gilroy Light'), local('Gilroy-Light'), 
    url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
}

/* Переменные */
:root {
    --basic-black: #000;
    --basic-dark-extra: #363636;
    --basic-dark: #464646;
    --basic-dark-light: #7e7e7e;
    --basic-grey-light: #eeeeee;
    --basic-grey-lighter: #ebebeb;
    --basic-grey: #e5e5e5;
    --basic-grey-dark: #dcdcdc;
    --basic-grey-lightest: #f2f2f2;
    --basic-white: #ffffff;

    --extra-yellow-dark: #f0c52e;
    --extra-yellow-light:#f7e296;
    --extra-green: #91c92f;

    --special-pink: #f6dada;

    --font-family-basic: "Open Sans", "Arial", sans-serif;
    --font-family-basic-light: "Open Sans Light", "Arial", sans-serif;
    --font-family-special-bold: "Gilroy Extra Bold", "Arial", sans-serif;
    --font-family-special-light: "Gilroy Light", "Arial", sans-serif;

    --grid-columns-pair-gap: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Page */
.page {
    height: 100%;
}

.page-body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    min-height: 100%;
    min-width: 1160px;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-basic);
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.page-title {
    padding: 0 60px;
    box-sizing: border-box;
}

.page-title h1 {
    margin-bottom: 29px;
    margin-top: 45px;
}

.page a {
    text-decoration: none;
    color: inherit;
}

.page b {
    font-weight: 800;
}

.page img {
    max-width: 100%;
    height: auto;
}

.container-inner,
.container {
    display: block;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

.container-inner {
    padding: 0 60px;
    box-sizing: border-box;
}
.grid-columns-pair {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--grid-columns-pair-gap);
}

/* Text */
.header-1,
.header-2,
.header-3 {
    font-family: var(--font-family-special-bold);
    font-weight: 800;
    color: inherit;
}
.header-1 {
    font-size: 47px;
    line-height: 58px;
}
.header-1--special {
    letter-spacing: 0.2em;
}
.header-2 {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.header-2:hover {
    opacity: 0.6;
}
.header-2:active,
.header-2:focus {
    opacity: 0.3;
}

.header-3 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.button {
    position: relative;
    z-index: 1;
    font-family: var(--font-family-special-bold);
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-align: center;
    padding: 9px 42px;
    color: var(--basic-black);
    white-space: nowrap;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    background: none;
    display: inline-block;
}

.button--active,
.button:hover,
.button:focus {
    outline: none;
    cursor: pointer;
    background-color: var(--extra-yellow-dark);
}
.button:active {
    color: rgba(0, 0, 0, 0.3);
}
.button::after {
    content: '';
    background-color: var(--extra-yellow-dark);
    height: 8px;
    width: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: calc(50% - 4px);
}
.button--yellow-light {
    height: 40px;
    padding: 0;
}
.button--yellow-light::after {
    background-color: var(--extra-yellow-light);
}
.button--yellow-light:hover,
.button--yellow-light:focus {
    background-color: var(--extra-yellow-light);
}
.button--short {
    padding-left: 24px;
    padding-right: 24px;
}
.button--stretch {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.label {
    font-size: 14px;
    line-height: 19px;
}

.link {
    color: inherit;
}
.link:hover {
    opacity: 0.6;
    cursor: pointer;
}
.link:focus,
.link:active,
.link--inactively {
    opacity: 0.3;
}

.paragraph--special {
    line-height: 28px;
}

/* Forms */
.form-base {
    --field-bg-color: var(--basic-grey-lightest);
    --field-border-color: transparent;
}
.form-base textarea,
.form-base input[type="text"],
.form-base input[type="email"] {
    font: inherit;
    background-color: var(--field-bg-color);
    border: 2px solid var(--field-border-color);
    box-sizing: border-box;
    height: 50px;
    outline: none;
    padding: 0 20px;
}
.form-base textarea:hover,
.form-base input[type="text"]:hover, 
.form-base input[type="email"]:hover {
    --field-bg-color: var(--basic-grey-lighter);
}
.form-base textarea:active,
.form-base textarea:focus,
.form-base input[type="text"]:active,
.form-base input[type="text"]:focus,  
.form-base input[type="email"]:active,
.form-base input[type="email"]:focus {
    --field-bg-color: var(--basic-white);
    --field-border-color: var(--extra-yellow-light);
}

.form-base textarea.field-invalid,
.form-base input[type="text"].field-invalid,
.form-base input[type="email"].field-invalid {
    --field-bg-color: var(--special-pink);
}

.form-base textarea {
    min-height: 100px;
    height: auto;
    resize: none;
    padding-top: 16px;
    padding-bottom: 16px;
}

.form-base input[type="text"]::placeholder,
.form-base input[type="email"]::placeholder,
.form-base textarea::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.form-base label {
    display: inline-block;
    vertical-align: middle;
    font-family: var(--font-family-special-bold);
    font-size: 18px;
    padding: 10px 10px 10px 0;
}

/* Header */
.main-header {
    position: relative;
    padding-top: 20px;
}
.main-header-container {
    position: relative;
    padding-bottom: 49px;
}
.main-header-container--main {
    padding-bottom: 15px;
}

.main-header-container::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 0;
    top: 20px;
    height: calc(100% - 20px);
    background-color: var(--extra-yellow-light);
}
.main-header-logo {
    display: inline-block;
    vertical-align: top;
}

.main-navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    padding: 10px 0 35px 0;
}
.site-search-box {
    display: flex;
    position: relative;
}
.site-search-box::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: 0;
    left: 0;
    z-index: 5;
    background-repeat: no-repeat;
    background-image: url(../img/icon-search-black.svg);
    background-position: left;
}
.field-search {
    flex-grow: 2;
    margin: 0;
    padding: 0 15px 0 40px;
    height: 50px;
    border: none;
    max-width: 356px;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    background-color: var(--extra-yellow-light);
    font-family: var(--font-family-basic);
    color: var(--basic-black);
    opacity: 0.3;
}
.field-search::-webkit-input-placeholder {
    color: var(--basic-black);
}
.field-search::-moz-placeholder {
    color: var(--basic-black);
}
.field-search::placeholder {
    color: var(--basic-black);
}
.field-search:hover {
    opacity: 0.6;
}
.field-search:active,
.field-search:focus,
.site-search-box:focus-within input {
    outline-style: none;
    border-bottom: 2px solid var(--basic-black);
    opacity: 1;
}
.form-button {
    visibility: hidden;
    width: 84px;
    height: 50px;
    outline: none;
    background-color: var(--extra-yellow-light);
    cursor: pointer;
    border-color: var(--basic-black);
    text-transform: uppercase;
    opacity: 1;
}
.form-button:hover {
    visibility: visible;
    background-color: var(--basic-black);
    color: var(--basic-white);
}
.site-search-box:focus-within button {
    visibility: visible;
}
.form-button:active,
.form-button:focus {
    background-color: var(--basic-black);
    color: rgba(255, 255, 255, 0.5);
}

.user-navigation-list,
.site-navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.user-navigation-list {
    display: grid;
    position: relative;
    grid-auto-flow: column;
    column-gap: 36px;
    justify-self: start;
    align-items: center;
    width: 100%;
    grid-template-columns: 1fr auto;
    font-family: var(--font-family-basic);
}
.user-navigation-list .link {
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: left;
    padding-left: 25px;
}
.user-navigation-list .link-user {
    background-image: url(../img/icon-user-black.svg);
}
.user-navigation-list .link-logout,
.footer-personal-links .link-logout {
    padding-left: 12px;
}
.user-navigation-list .link-compare {
    background-image: url(../img/icon-chart-black.svg);
}
.user-navigation-list .link-cart {
    background-image: url(../img/icon-cart-black.svg);
    background-position-x: 5px;
}

.user-navigation-list li:first-child {
    justify-self: stretch;
}

.user-navigation-list li:last-child {
    justify-self: end;
}
.site-navigation-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.site-navigation-item {
    line-height: 22px;
    padding: 0 19px;
}
.site-navigation-item:first-child {
    flex-basis: 50%;
    padding: 0;
}
.site-navigation-item:last-child {
    padding-right: 0;
    margin-left: auto;
    margin-right: -3px; /* #pixelperfect */
}

.site-navigation-sub-list {
    display: none;
    grid-template-columns: repeat(3, max-content);
    column-gap: 56px;
    position: absolute;
    list-style: none;
    z-index: 10;
    width: 100%;
    left: 0;
    padding-top: 29px;
    margin-top: 22px;
    padding-bottom: 27px;
    background-color: var(--extra-yellow-light);
}
.site-navigation-item:hover .site-navigation-sub-list {
    display: grid;
}
.site-navigation-sub-list + a {
    position: relative;
    padding-right: 35px;
}
.site-navigation-sub-list + a::before {
    content: url(../img/icon-plus.svg);
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    right: 0;
    top: 0;
}
.site-navigation-sub-list li {
    padding: 0 0 14px;
}
.site-navigation-sub-list li:nth-child(5) {
    display: grid;
    grid-column: 2 / -1;
}

/* Главная страница */
main {
    overflow: hidden;
}
.main-slider {
    position: relative;
    overflow: hidden;
    min-width: 1160px;
    box-sizing: border-box;
    padding: 10px 0 0 0;
    margin-bottom: 104px;
}
.main-slider::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 0;
    top: 0;
    height: 149px;
    background-color: var(--extra-yellow-light);
}
.slider-list {
    margin: 0;
    padding: 0;
    width: 100%;
    counter-reset: main-slider-counter;
    list-style-type: decimal-leading-zero;
}
.slider-item {
    display: grid;
    position: relative;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}
.slider-item--active {
    visibility: visible;
    height: auto;
    /*
    animation-name: fadeIn;
    animation-duration: 1s;
    */
}
.slider-item::after {
    content: counter(main-slider-counter, decimal-leading-zero);
    counter-increment: main-slider-counter;
    display: block;
    position: absolute;
    top: 62px;
    right: 47px;
    z-index: -1;
    font-family: var(--font-family-special-bold);
    color: var(--basic-white);
    font-size: 179px;
    line-height: 80px;
}
.slider-item-link {
    outline: none;
}
.slider-image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 510px;
}

.slider-description {
    padding: 102px 55px 0 0;
    position: relative;
}
.slider-description::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100px;
    height: 7px;
    top: 44px;
    background-color: var(--basic-white);
}

.slider-description h2 {
    margin: 0;
    padding: 0;
}
.slider-description p {
    margin: 0;
    padding: 27px 0 51px 0;
}

.slider-info {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.slider-info-item {
    font-family: var(--font-family-special-light);
    list-style: none;
    padding-right: 62px;
}
.slider-info-item:last-child {
    padding-right: 0;
}
.slider-info-item p {
    margin: 0;
    padding: 51px 0 12px 0;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
}
.slider-info-item small {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
}
.slider-pagination-list {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-content: flex-end;
    right: 89px;
    top: 360px;
    width: 72px;
    height: 12px;
}
.slider-pagination-item {
    position: relative;
    padding: 0;
    border: none;
    background-color: var(--basic-white);
    cursor: pointer;
    outline: none;
}
.slider-pagination-item::before{
    content: '';
    width: 12px;
    height: 12px;
    position: relative;
    z-index: 10;
    display: block;
    box-sizing: border-box;
    top: 0;
    left: 1.4px;
    border-radius: 50%;
    border: 1px solid var(--basic-black);
}
.slider-pagination-item--active::after {
    content: '';
    width: 4px;
    height: 4px;
    top: 3px;
    left: 4px;
    position: absolute;
    border-radius: 50%;
    border: 1px solid var(--basic-black);
}
.slider-pagination-item:focus-within {   
    outline: 1px solid var(--basic-dark-light);
    outline-style: dotted;
}
.section-categories {
    margin-bottom: 95px;
}
.category-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    margin: 0;
    padding: 0;
}
.category-item {
    max-width: 160px;
}
.category-item .category-icon  {
    display: grid;
    width: 160px;
    height: 160px;
    margin: 0;
    padding: 0;
    align-items: stretch;
    justify-content: center;
    background-color: var(--extra-yellow-light);
}

.category-item:hover .category-icon {
    background-color: var(--extra-yellow-dark);
}
.category-item:active .category-icon,
.category-item:focus .category-icon {
    background-color: var(--extra-yellow-dark);
}
.category-item:active img,
.category-item:focus img,
.category-item:active .category-name,
.category-item:focus .category-name {
   opacity: 0.3;
}
.category-name {
    font-family: var(--font-family-special-bold);
    letter-spacing: 0.05em;
    font-size: 18px;
    line-height: 22px;
    margin-top: 39px;
    margin-bottom: 0;
}
.category-item:nth-child(4) .category-name {
    letter-spacing: 0;
}
.partners {
    margin-bottom: 87px;
}
.partners-list{
    display: flex;
    justify-content: space-between;
    align-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.partner-item img {
    filter: grayscale(100%);
    opacity: 0.2;
}
.partner-item:hover img {
    filter: none;
    opacity: 1;
}

.section-company  {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 77px;
}
.decor-line--black {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 588px;
}
.decor-line--black .button {
    margin-top: auto;
}
.decor-line--black::before {
    content: '';
    display: block;
    position: initial;
    width: 80px;
    height: 7px;
    background-color: var(--basic-black)
}
.list-default {
    font-family: var(--font-family-special-bold);
    list-style-image: url(../img/ellipse-list.svg);
    line-height: 28px;
    font-size: 16px;
}
.text-content h2 {
    margin: 0;
    padding: 48px 0 40px 0;
}
.text-content p {
    margin: 0;
    padding: 0 0 40px 0;
    letter-spacing: -0.02em;
}
.text-content .list-default {
    margin: 0;
    padding-top: 5px;
    padding-left: 14px;
}
.text-content .list-default-item {
    padding: 15px 0 0 18px;
}
.link-open-map {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 73px;
}

/* Табы */
.main-information {
    position: relative;
    z-index: 1;
    margin-bottom: 90px;
    padding-bottom: 95px;
}
.main-information::before {
    content: '';
    background-color: var(--basic-grey);
    width: 100%;
    height: calc(100% - 90px);
    position: absolute;
    z-index: -1;
    top: 90px;
    left: 0
}
.main-information-tabs {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 116px;
}
.main-information-toggle {
    display: grid;
    grid-auto-flow: row;
    position: relative;
    padding-top: 54px;
    min-width: 284px;
}
.main-information-toggle::before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    width: 7px;
    height: 100%;
    min-height: 320px;
    top: -11px;
    background-color: var(--basic-black);
}
.tabs-menu{
    list-style: none;
    padding: 0;
    position: relative;
    display: block;
}
.tabs-menu-item {
    margin-bottom: 21px;
}
.tabs-menu-item:hover {
    cursor: pointer;
}
.tabs-menu-item--active,
.tabs-menu-item:active {
    background-color: var(--basic-black);
    /*
    animation-name: fadeIn;
    animation-duration: 1s;
    */
}
.tabs-menu-item--active .button,
.tabs-menu-item:active .button {
    color: var(--extra-yellow-light);
    background-color: transparent;
}
.tabs-menu-item--active .button::after,
.tabs-menu-item:active .button::after {
    display: none;
}

.tabs-menu-item .button {
    min-width: 115px;
}
.tabs-menu-item .button:focus-within {
    outline: 2px solid var(--basic-dark);
    outline-offset: -2px;
    outline-style: dotted;
}
.tabs {
    padding: 20px 0px;
    margin: 0;
    list-style: none;
}
.tabs-item {
    display: none;
    position: relative;
    padding-right: 190px;
}
.tabs-item--active {
    display: list-item;
    /*
    animation-name: fadeIn;
    animation-duration: 1s;
    */
}
.tabs-item-icon {
    position: absolute;
    right: 0;
    top: 0;
}
.tabs-item p {
    letter-spacing: 0.08em;
    margin-top: 40px;
    line-height: 30px;
}

.page-content .breadcrumbs {
    grid-column: 1 / -1;
    margin-bottom: 50px;
}
  
.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}
.breadcrumb {
    margin-right: 37px;
    position: relative;
}
.breadcrumb::after {
    content: "";
    position: absolute;
    top: 7px;
    right: -21px;
    width: 4px;
    height: 7px;
    background-repeat: no-repeat;
    background-image: url(../img/vector.svg);
}
.breadcrumbs .label {
    font-size: 14px;
    line-height: 19px;
    padding: 0;
    opacity: 0.3;
}
.breadcrumbs a.label:hover {
    opacity: 0.6;
}
.breadcrumbs a.label:active,
.breadcrumbs a.label:focus {
    opacity: 0.1;
}


/* Каталог */
.page-title {
    padding: 0 60px;
}
.page-catalog {
    display: grid;
    grid-template-columns: 328px 1fr;
}


/* Фильтр */
.catalog-filter {
    display: grid;
    position: relative;
    justify-items: right;
    align-content: start;
    background-color: var(--basic-grey);
}
.catalog-filter::before {
    content: '';
    display: block;
    background-color: var(--basic-grey);
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100vw;
    right: 0;
    top: 0;
}
.filter {
    width: 200px;
    padding-right: 68px;
    padding-top: 70px;
}
.filter fieldset {
    border: none;
    padding: 0;
    margin: 0;
}
.filter-options-list-checkbox,
.filter-options-list-radio {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.filter-options-list-checkbox {
    padding-bottom: 23px;
}
.filter-options-list-radio {
    padding-bottom: 27px;
}

.filter-option {
    padding-bottom: 14px;
}
.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    padding-left: 42px;
    user-select: none;
    font-size: 14px;
    line-height: 25px;
    color: var(--basic-black);
}
.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 21px;
    height: 21px;
    border: 2px solid currentColor;
    border-radius: 10%;
}
.filter-input-checkbox:focus + label::before {
    outline: 2px solid var(--basic-dark-light);
    outline-style: dotted;
}
.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    display: block;
    top: 7px;
    left: 5px;
    width: 14px;
    height: 11px;
    background-image: url("../img/check-mark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.filter-input-checkbox:not(:disabled):hover + label::before {
    color: rgba(0, 0, 0, 0.6);
}
.filter-input-checkbox:not(:disabled):hover + label::after {
    opacity: 0.6;
}
.filter-input-checkbox:not(:disabled):focus + label::before,
.filter-input-checkbox:not(:disabled):active + label::before {
    color: var(--basic-black);
}
.filter-input-checkbox:not(:disabled):focus + label::after,
.filter-input-checkbox:not(:disabled):active + label::after {
    opacity: 1;
}
.filter-input-checkbox:disabled + label {
    opacity: 0.25;
    color: var(--basic-black);
    cursor: default;
}
.filter-input-radio + label::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 21px;
    height: 21px;
    border: 2px solid currentColor;
    border-radius: 50%;
}
.filter-input-radio:focus + label::before {
    outline: 2px solid var(--basic-dark-light);
    outline-style: dotted;
}
.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    display: block;
    top: 8px;
    left: 8px;
    width: 9px;
    height: 9px;
    background-color: currentColor;
    border-radius: 50%;
}
.filter-input-radio:not(:disabled):hover + label::before {
    color: rgba(0, 0, 0, 0.6);
}
.filter-input-radio:not(:disabled):hover + label::after {
    opacity: 0.6;
}
.filter-input-radio:not(:disabled):focus + label::before,
.filter-input-radio:not(:disabled):active + label::before {
    color: var(--basic-black);
}
.filter-input-radio:not(:disabled):focus + label::after,
.filter-input-radio:not(:disabled):active + label::after {
    opacity: 1;
}
.filter-input-radio:disabled + label {
    opacity: 0.25;
    color: var(--basic-black);
    cursor: default;
}

.catalog-filter-header {
    position: relative;
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 25px 68px 25px 60px;
    background-color: var(--basic-grey-dark);
}
.catalog-filter-header::before {
    content: '';
    display: block;
    background-color: var(--basic-grey-dark);
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100vw;
    right: 0;
    top: 0;
}
.catalog-filter legend {
    font-family: var(--font-family-special-bold);
    font-size: 14px;
    letter-spacing: 0.1em;
    border-top: 2px solid var(--basic-black);
    min-width: 200px;
    padding-top: 13px;
    padding-bottom: 27px;
}
.range-filter {
    width: 100%;
    margin: 0;
    padding-bottom: 37px;
}

.range-controls {
    position: relative;
    height: 10px;
    padding-top: 10px;
}
.range-controls .scale {
    background: rgba(0, 0, 0, 0.2);

    height: 2px;
}
.range-controls .bar {
    width: 60%;
    height: 2px;
    background: var(--extra-green);
}
.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--basic-grey-dark);
    border-radius: 50%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
    cursor: pointer;
}
.range-controls .toggle--min {
    left: 0;
    top: 0;
}  
.range-controls .toggle--max {
    left: 113px;
    top: 0;
}

.price-controls {
    display: grid;
    grid-template-columns: auto max-content;
    justify-content: start;
    column-gap: 19px;
    padding-top: 7px;
}
.price-controls label {
    font-family: var(--font-family-special-light);
    font-size: 14px;
}
.price-controls input {
    width: 60px;
    border: none;
    background: var(--basic-grey);
    font-family: inherit;
    font-size: inherit;
    outline: none;
    padding: 0
}


/* Каталог товаров */
.catalog-container {
    --catalog-space-left: 72px;
    padding-bottom: 78px;
}

.catalog {
    padding-left: var(--catalog-space-left);
    padding-top: 61px;
}

.catalog-sorting {
    display: flex;
    position: relative;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    padding: 25px 0 25px var(--catalog-space-left);
    background-color: var(--basic-grey);
}
.catalog-sorting::before {
    content: '';
    display: block;
    background-color: var(--basic-grey);
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100vw;
    left: 0;
}
.catalog-sorting h3 {
    margin: 0;
}

.catalog-sorting input {
    display: none;
}
.catalog-sorting label {
    cursor: pointer;
}
.catalog-sorting-by {
    padding: 0 60px;
}
.catalog-sorting-by label {
    margin: 0 13px;
}
.catalog-sorting-by input:not(:checked) + label {
    opacity: 0.3;
}
.catalog-sorting-by input:not(:checked) + label:hover {
    opacity: 0.6;
}
.catalog-sorting-by input:not(:checked) + label:active,
.catalog-sorting-by input:not(:checked) + label:focus {
    opacity: 1;
}

.catalog-sorting-as {
    height: 20px;
    margin-left: auto;
}

.catalog-sorting-as label{
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 26px;
    font-size: 36px;
    overflow: hidden;
}
.catalog-sorting-as input:not(:checked) + label{
    opacity: 0.2;
}
.catalog-sorting-as input:not(:checked) + label:hover{
    opacity: 0.5;
}
.catalog-sorting-as input:not(:checked) + label:active,
.catalog-sorting-as input:not(:checked) + label:focus {
    opacity: 1;
}
.catalog-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    justify-items: center;
    padding: 0;
    margin: 0;
}
.catalog-list a {
    font-family: var(--font-family-basic);
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.1em;
}
.catalog-item {
    margin: 8px 0 40px;
}

.catalog-item-picture {
    position: relative;
}
.catalog-item-image {
    display: block;
}
.catalog-item-overlay {
    display: flex;
    opacity: 0;
    position: absolute;
    z-index: 10;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    width: 100%;
    height: 100%;
}
.catalog-item-overlay::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--basic-grey-light);
    opacity: 0.7;
}
.catalog-item-overlay .button--add-to-cart {
    margin: 32px 0 13px 0;
}
.catalog-item-picture:focus-within .catalog-item-overlay,
.catalog-item-picture:hover .catalog-item-overlay {
    opacity: 1;
}
.catalog-item-description {
    display: grid;
    grid-template-columns: auto max-content;
    justify-content: space-between;
    column-gap: 20px;
    align-items: baseline;
    padding-top: 30px;
}
.catalog-item-name {
    font-family: var(--font-family-special-bold);
    font-weight: 800;
    font-size: 18px;
    margin: 0;
    line-height: 22px;
    letter-spacing: 0.05em;
}
.catalog-item-price {
    font-family: var(--font-family-special-light);
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    line-height: 18px;
    letter-spacing: 0.05em;
}

.catalog-item-nameplate-new {
    position: relative;
}
.catalog-item-nameplate-new::before {
    content: 'NEW';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 29px;
    right: 27px;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.3);
    font-family: var(--font-family-special-bold);
    font-size: 12px;
    z-index: 1;
}

/* Страницы каталога */
.catalog-pagination {
    background-color: var(--basic-grey-light);
    margin-left: var(--catalog-space-left);
}
.catalog-pagination-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
    height: 71px;
}

.catalog-pagination-list li:first-child,
.catalog-pagination-list li:last-child {
    flex-grow: 1;
    flex-basis: 50%;
}

.catalog-pagination-list li:last-child {
    text-align: right;
}

.catalog-pagination-link {
    font-family: var(--font-family-special-bold);
    color: inherit;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 15px;
    margin: 0;
    opacity: 0.3;
    cursor: pointer;
    height: 100%;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
}

.catalog-pagination-link:hover {
    opacity: 0.6;
}

.catalog-pagination-link:active,
.catalog-pagination-link:focus {
    opacity: 1;
}

.catalog-pagination-link.catalog-pagination-link--button {
    padding-left: 30px;
    padding-right: 28px;
    opacity: 1;
    border: none;
    outline: none;
}

.catalog-pagination-link.catalog-pagination-link--button:hover {
    background-color: var(--basic-grey-dark);
}
.catalog-pagination-link.catalog-pagination-link--button:active span,
.catalog-pagination-link.catalog-pagination-link--button:focus span {
    opacity: 0.3;
}

.catalog-pagination-link.catalog-pagination-link--disable {
    cursor: default;
    opacity: 1;
}
.catalog-pagination-link.catalog-pagination-link--disable:hover,
.catalog-pagination-link.catalog-pagination-link--disable:active,
.catalog-pagination-link.catalog-pagination-link--disable:focus {
    background-color: transparent;
    opacity: 1;
}
.catalog-pagination-link.catalog-pagination-link--disable:active span,
.catalog-pagination-link.catalog-pagination-link--disable:focus span {
    opacity: 1;
}

/* Footer */
.main-footer {
    background-color: var(--basic-dark-extra);
    color: var(--basic-white);
    padding: 46px 0 60px;

}
.main-footer .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content max-content;
    row-gap: 36px;
}  

.footer-links,
.footer-main-links,
.footer-personal-links,
.footer-social-media-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 20px;
    align-items: center;
}

.main-footer-logo {
    padding-top: 17px;
}

.footer-personal-links {
    display: grid;
    justify-self: right;
    align-self: start;
    grid-auto-flow: column;
    column-gap: 41px;
}
.footer-personal-links .link {
    opacity: 0.7;
}
.footer-personal-links .link:hover {
    opacity: 1;
    cursor: pointer;
}
.footer-personal-links .link:focus,
.footer-personal-links .link:active {
    opacity: 0.3;
}
.footer-links .link-user,
.footer-links .link-compare,
.footer-links .link-cart {
    background-repeat: no-repeat;
    background-position-y: 4px;
    background-position-x: left;
}
.footer-links .link-user {
    padding-left: 24px;
    background-image: url(../img/icon-user-yellow.svg);
}

.footer-links .link-compare {
    padding-left: 24px;
    background-image: url(../img/icon-chart-yellow.svg);
}
.footer-links .link-cart {
    padding-left: 19px;
    background-image: url(../img/icon-cart-yellow.svg);
}

.footer-contacts {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    align-items: center;
}
.footer-contacts .paragraph {
    margin: 0;
}
.footer-contacts .paragraph:last-child {
    text-align: right;
}

.footer-main-links {
    display: grid;
    justify-self: center;
    grid-auto-flow: column;
    column-gap: 33px;
}

.footer-social-media {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding-top: 30px;
}
.decor-line-yellow {
    padding-top: 7px;
}
.decor-line-yellow::before {
    content: '';
    display: block;
    position: absolute;
    width: 80px;
    height: 7px;
    background-color: var(--extra-yellow-dark);
}
.footer-social-media .footer-copyright {
    text-align: right;
}
.footer-social-media-list {
    display: grid;
    justify-self: center;
    grid-auto-flow: column;
    column-gap: 20px;
}
.footer-social-media-list .link {
    opacity: 0.6;
}
.footer-social-media-list .link:hover {
    opacity: 1;
}
.footer-social-media-list .link:active,
.footer-social-media-list .link:focus {
    opacity: 0.3;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 150px;
    bottom: auto;
    width: 960px;
    z-index: 100;
    margin: 0 auto;
    background-color: var(--basic-white);
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}
.modal--show {
    display: block;
    animation-name: bounce;
    animation-duration: 0.6s;
}
.modal--error {
    animation-name: shake;
    animation-duration: 0.6s;
}
.modal-content {
    padding: 82px 100px 60px;
}
.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    background-image: url(../img/button-close.svg);
    opacity: 0.6;
}
.modal-close:hover {
    opacity: 1;
}
.modal-close:active,
.modal-close:focus {
    opacity: 0.3;
}
.modal-field {
    margin: 0;
    padding-bottom: 32px;
}
.modal-field input,
.modal-field textarea {
    width: 100%;
}
.modal-field textarea {
    min-height: 167px;
}

/* Modal write-us */
.modal-write-us {
    --grid-columns-pair-gap: 40px 
}

/* Modal modal-map */
.modal-map {
    width: 994px;
    top: 120px;
    bottom: auto;
    padding: 0;
}
.modal-map iframe {
    display: block;
    border: none;
}

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
    70%{ 
        transform: translateY(30px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0px);
    }
    10%, 30%, 50%, 70%, 90% { 
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}
/*
@keyframes fadeIn {
    0%, 100% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
*/