/* Шрифты */
/* https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap%22%20rel=%22stylesheet */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans'), local('OpenSans'), 
    url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 200;
    src: local('Open Sans Light'), local('OpenSans-Light'), 
    url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy Extra Bold';
    font-style: normal;
    font-weight: 800;
    src: local('Gilroy Extra Bold'), local('Gilroy-Extra-Bold'), 
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy Light';
    font-style: normal;
    font-weight: 200;
    src: local('Gilroy Light'), local('Gilroy-Light'), 
    url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
}

/* Переменные */
:root {
    --basic-black: #000;
    --basic-extra-dark: #363636;
    --basic-dark: #464646;
    --basic-light-dark: #7e7e7e;
    --basic-grey: #e5e5e5;
    --basic-white: #ffffff;

    --extra-yellow-dark: #f0c52e;
    --extra-yellow-light:#f7e296;
    --extra-green: #91c92f;

    --special-pink: #f6dada;

    --font-family-basic: "Open Sans", Arial, sans-serif;
    --font-family-basic-light: "Open Sans Light", Arial, sans-serif;
    --font-family-special-bold: "Gilroy Extra Bold", Arial, sans-serif;
    --font-family-special-light: "Gilroy Light", Arial, sans-serif;
}

.visually-hidden {
    /* https://youtu.be/Ns0zijQJxH4?t=172 */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}

/* Page */
.page-body {
    min-width: 1160px;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-basic);
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.page a {
    text-decoration: none;
}

.page img {
    max-width: 100%;
    height: auto;
}

.container {
    display: block;
    max-width: 1160px;
}


/* Text */
.header-2 {
    font-family: var(--font-family-special-bold);
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    color: var(--basic-black);
    margin: 0;
    padding: 15px 0;
}

.button {
    position: relative;
    font-family: var(--font-family-special-bold);
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-align: center;
    padding: 9px 42px;
    color: var(--basic-black);
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    background: none;
}
.button:focus,
.button:hover {
    outline: none;
    background-color: var(--extra-yellow-dark);
}
.button:active {
    color: rgba(0, 0, 0, 0.3);
}
.button::after {
    content: '';
    background-color: var(--extra-yellow-dark);
    height: 8px;
    width: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: calc(50% - 4px);
}

.label {
    font-size: 14px;
    line-height: 19px;
}

.link {
    color: var(--basic-black);
}
.link:hover {
    opacity: 0.6;
}
.link:focus,
.link:active {
    opacity: 0.3;
}

/* Header */
.main-header.container {
    margin-top: 40px;
    position: relative;
    background-color: var(--extra-yellow-light);
}

/* Content */
.information {
    position: relative;
}
.information::after {
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: var(--basic-grey);
    width: 100%;
    height: calc(100% - 115px);
    margin-top: 115px;
}

.main-footer {
    background-color: var(--basic-extra-dark);
}